<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fernando Blog | <%= title %></title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eveniet
        ipsam itaque nihil cupiditate maxime consequuntur quidem minus ratione
        recusandae.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
        adipisci, iusto dolore a delectus consectetur repudiandae, laborum
        aspernatur nisi velit placeat alias consequatur? Labore, voluptates quam
        necessitatibus quia illo libero.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum
        reprehenderit exercitationem excepturi repellat aut voluptate!
        Repudiandae quam quidem quos corporis placeat aut aspernatur
        exercitationem voluptatem deleniti, blanditiis excepturi sit porro
        aliquid ducimus quisquam? Placeat fugit eligendi cumque non dolor porro
        nisi quam enim omnis fuga nemo, repudiandae rerum maxime ullam!
      </p>
    </div>
  </body>
</html>
