<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fernando Blog | <%= title %></title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="blogs content">
      <h2>All Blogs</h2>

      <% if (blogs.length > 0) { %>
      <ul>
        <% blogs.forEach(blog => { %>
        <li>
          <h3 class="title"><%= blog.title %></h3>
          <p class="snippet"><%= blog.snippet %></p>
        </li>
        <% }) %>
      </ul>
      <% } else { %>

      <p>There are not blogs to show</p>
      <% } %>
    </div>
  </body>
</html>
